body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background: #000;
  color: white;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #111;
  border-bottom: 2px solid orange;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: orange;
  letter-spacing: 2px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: orange;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 120px 20px;
  background: linear-gradient(to bottom, #000, #111);
}

.hero h1 {
  font-size: 55px;
  color: orange;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero button {
  padding: 12px 30px;
  background: orange;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #ff4500;
  transform: scale(1.1);
}

/* MODELS */
.models {
  padding: 60px 40px;
  text-align: center;
}

.models h2 {
  color: orange;
  margin-bottom: 40px;
  font-size: 35px;
}

.card {
  display: inline-block;
  width: 220px;
  margin: 20px;
  background: #111;
  border: 1px solid orange;
  border-radius: 15px;
  padding: 15px;
  transition: 0.4s;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: contain;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px orange;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  border-top: 2px solid orange;
}
